<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>
  <node pkg="map_server" type="map_server" args="$(find hw2)/gates.yaml" respawn="false" />
  <node pkg="stage" type="stageros" name="stageros" args="$(find worlds_erratic)/gates.world" respawn="false" >
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>
  <node pkg="rviz" type="rviz" args="" respawn="false" />
  <node pkg="rxtools" type="rxconsole" args="" respawn="false" />
</launch>
